@charset "UTF-8";

/*
Versão Mobile First
*/

/*
Paleta de cores do Projeto:
Marrom: #8B3103
Amarelo: #FFD700
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    background-color: #6B3406;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;

    width: 350px;
    height: 570px;

    border-radius: 20px;
    overflow: hidden;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;

    background: #6B3406 url(../imagens/ouro.jpg) no-repeat;
    background-size: cover;
    background-position: center center;

    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 15px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 15px;
}

div#formulario > p {
    font-size: 0.9em;
    margin-bottom: 15px;
    text-align: justify;
}

/* CAMPOS */

div.campo {
    display: flex;
    align-items: center;

    width: 100%;
    height: 45px;

    background-color: #6b3306a2;

    border-radius: 10px;
    overflow: hidden;

    margin-bottom: 10px;
}

div.campo > span {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 100%;

    background-color: #000;
    color: white;

    font-size: 1.6em;
}

div.campo > input {
    flex: 1;

    height: 100%;

    border: none;
    outline: none;

    padding: 10px;

    font-size: 1em;
}

/* BOTÃO ENTRAR */

input[type="submit"] {
    display: block;

    width: 100%;
    height: 45px;

    border: 1px solid #6B3406;
    border-radius: 10px;

    background-color: lightgray;

    font-size: 1em;
    cursor: pointer;

    margin-top: 10px;

    transition: .3s;
}

input[type="submit"]:hover {
    background-color: lightblue;
}

/* BOTÃO ESQUECI SENHA */

a.botao {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 45px;

    margin-top: 10px;

    text-decoration: none;
    color: #000;

    background-color: rgb(147, 142, 142);

    border: 1px solid #6B3406;
    border-radius: 10px;

    transition: .3s;
}

a.botao:hover {
    background-color: lightblue;
}